<nav class="navbar">
  <div routerLink="/layout/binding" class="logo">MySite</div>

  <ul class="nav-links">
    <li><a routerLink="/layout/binding">Binding</a></li>
    <li><a routerLink="/layout/todo">Todo</a></li>
    <li><a routerLink="/layout/loops">Loops</a></li>
    <li><a routerLink="/layout/directive">Directive</a></li>
    <li><a routerLink="/layout/service">Service</a></li>
    <li><a routerLink="/layout/pipe">Pipe</a></li>
    <li><a routerLink="/layout/guard">Guard</a></li>

  </ul>

  <button class="logout-btn" (click)="logout()">Çıkış Yap</button>
</nav>
