<nav class="navbar">
  <div routerLink="/layout/binding" class="logo">MySite</div>

  <ul class="nav-links">
    <li><a routerLink="/layout/binding">Binding</a></li>
    <li><a routerLink="/layout/todo">Todo</a></li>
    <li><a routerLink="/layout/loops">Loops</a></li>
    <li><a routerLink="/layout/directive">Directive</a></li>
    <li><a routerLink="/layout/service">Service</a></li>
    <li><a routerLink="/layout/pipe">Pipe</a></li>
    <li><a routerLink="/layout/guard">Guard</a></li>
    <li><a routerLink="/layout/ınput&output">Input&Output</a></li>
    <li><a routerLink="/layout/localStore">LocalStore</a></li>
    <li><a routerLink="/layout/api">ApiRequests</a></li>
    <li><a routerLink="/layout/form">Form</a></li>
    <li><a routerLink="/layout/interceptor">Interceptor</a></li>
    <li class="dropdown">
      <a routerLink="/layout/observer">Layout ▼</a>
      <ul class="dropdown-content">
        <li><a routerLink="/layout/observer">Observer</a></li>
        <li><a routerLink="/layout/subscription">Subscription</a></li>
      </ul>
    </li>
    <li><a routerLink="/localization">Localization</a></li>
  </ul>



  <button class="logout-btn" (click)="logout()">Çıkış Yap</button>
</nav>
